{% extends "inner_base.html" %}
{% load static %}
{% block page_name %}
  Blog
{% endblock page_name %}

{% block inner_body %}

    <!-- ======= Blog Grid ======= -->
    <div  class="text-center  paddsections">
      <div class="container">
        <div class="section-title text-center">
            <span>MY BLOGS</span>
          <h2>MY BLOGS</h2>
        </div>
      </div>
      <div class="container">
        <div class="journal-block">
          <div class="row justify-content-center">
              {% for b in blog %}
              <div class="col-lg-4 col-md-6 ">
                <div class="journal-info mb-30">
  
                  <a href="{% url 'blog:blog-detail'  slug=b.slug%}"><img src="/media/{{b.image}}" style="max-height: 200px; width: 100%;"  class="img-responsive" alt="img"></a>
  
                  <div class="journal-txt">
  
                    <h4><a href="{% url 'blog:blog-detail'  slug=b.slug%}">{{b.title}}</a></h4>
                    <p class="separator">To an English person, it will seem like simplified English
                    </p>
                  </div>
 
                </div>
              </div>
                
              {% endfor %}

              {% if is_paginated %}
              <div class="p-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ blog.previous_page_number }}" tabindex="-1">Previous</a>
                          </li>
                          {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="?page={{ blog.previous_page_number }}" tabindex="-1">Previous</a>
                      </li>
                      {% endif %}
                      {% for i in page_obj.paginator.page_range %}
                      {% if page_obj.number == i %}
                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ blog.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                  </nav>

              </div>
              {% endif %}


          </div>
        </div>
      </div>
    </div><!-- End Blog Grid -->



{% endblock inner_body %}