{% extends "base.html" %}
{% load static %}

{% block body_block %}

<!-- ======= Hero Section ======= -->
<div id="hero" style='background: url("/media/{{about.home_bg_image}}") repeat scroll center center/cover'; class="home">
  <!-- <img src="assets/img/home-bg.jpg" style="width: 100%; height: 100vh;" alt=""> -->
  <div class="container">   
    <div class="hero-content" data-aos="fade-up">     
      <h1>I'm <span class="typed" data-typed-items="Alex Smith, Designer, Developer, Freelancer, Photographer"></span></h1>
      <div data-aos="fade-right" data-aos-delay="100">
        <p>Designer, Developer, Freelancer, Photographer</p>
      </div>
      <ul class="list-unstyled list-social" data-aos="fade-up" data-aos-delay="100">
        <li><a href="{{contact.facebook_url}}"><i class="bi bi-facebook"></i></a></li>
        <li><a href="{{contact.twitter_url}}"><i class="bi bi-twitter"></i></a></li>
        <li><a href="{{contact.instagram_url}}"><i class="bi bi-instagram"></i></a></li>
        <li><a href="{{contact.linkdin_url}}"><i class="bi bi-linkedin"></i></a></li>
      </ul>
      <center><a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a></center>
    </div>
  </div>
</div><!-- End Hero -->


<main id="main">
  <!-- ======= About Section ======= -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="section-title mb-5" data-aos="fade-in">
        <span>About me</span>
        <h2>About me</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-4" data-aos="fade-up">
          <div class="div-img-bg">
            <div class="about-img rounded">
              <img src="/media/{{about.about_img}}" class="img-responsive rounded" alt="me">
            </div>
          </div>
        </div>
        <div class="col-lg-7" data-aos="fade-up">
          <div class="about-descr">          
            <p class="p-heading">{{about.about_details|safe}}</p>
          </div>
          <div class="row mt-n4" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile" style="color: #20b38e;"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{about.happy_client}}" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext" style="color: #8a1ac2;"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{about.number_of_projects}}" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Projects</strong> adipisci atque cum quia aspernatur totam laudantium et quia dere tan</p>
              </div>
            </div>
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock" style="color: #2cbdee;"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{about.year_of_experience}}" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Years of experience</strong> aut commodi quaerat modi aliquam nam ducimus aut voluptate non vel</p>
              </div>
            </div>
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-award" style="color: #ffb459;"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{about.number_of_awards}}" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Awards</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- skill -->
      <div class="skills-content ps-lg-4" data-aos="fade-up">
        <div class="progress">
          <span class="skill">HTML <i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress">
          <span class="skill">CSS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress">
          <span class="skill">JavaScript <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <!-- end skill -->
    </div>
  </div><!-- End About Section -->


   <!-- ======= My Services Section ======= -->
   <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-in">
        <span>My Services</span>
        <h2>My Services</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row justify-content-center ">
        {% for service in services %}
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch  mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx {% cycle 'bxl-dribbble'  'bx-file ' 'bx-tachometer'  'bx-world' %}"></i></div>
            <h4 class="title"><a href="">{{ service.service_name }}</a></h4>
            <p class="description">{{ service.service_text }}</p>
          </div>
        </div>         
        {% endfor %}
      </div>
    </div>
  </section><!-- End My Services Section -->


  <!-- ======= My Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title" data-aos="fade-in">
        <span>My Resume</span>
        <h2>My Resume</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row">
        <div class="col-lg-6"  data-aos="fade-up">
          <!-- <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Alice Barkley</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
            </p>
          </div> -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Fine Arts &amp; Graphic Design</h4>
            <h5>2015 - 2016</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
            <h5>2010 - 2014</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior graphic design specialist</h4>
            <h5>2019 - Present</h5>
            <p><em>Experion, New York, NY </em></p>
            <p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
            </p>
          </div>
          <!-- <div class="resume-item">
            <h4>Graphic design specialist</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </section><!-- End My Resume Section -->

 
  
  <!-- ======= My Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-in">
        <span>My Portfolio</span>
        <h2>My Portfolio</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up">
        <li data-filter="*" class="filter-active">All</li>
        {% for category in portfolio_cat %}
        <li data-filter=".filter-{{category}}">{{category}}</li>
        {% endfor %}
        <!-- <li data-filter=".filter-app">App</li>
        
        <li data-filter=".filter-web">Web</li> -->
      </ul>

      <div class="row portfolio-container" data-aos="fade-up">

        {% for p in portfolio %}

        <div class="col-lg-4 col-md-6 portfolio-item filter-{{p.category}}">
          <div class="portfolio-img"><img src="/media/{{p.project_image}}" class="img-fluid" style="width: 100%;" alt=""></div>
          <div class="portfolio-info">
            <h4>{{p.project_name}}</h4>
            <p>{{p.project_name}}</p>
            <a href="/media/{{p.project_image}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{p.project_name}}"><i class="bx bx-plus"></i></a>
            <a href="{% url 'portfolio:portfolio-detail' pk=p.id %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
          
        {% endfor %}

      </div>

    </div>
  </section><!-- End My Portfolio Section -->

     <!-- ======= Testimonials Section ======= -->
     <section id="testimonials" class="testimonials">
      <div class="container position-relative">
        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for t in testimonial %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/media/{{t.client_image}}" class="testimonial-img" alt="">
                <h3>{{t.client_name}}</h3>
                <h4>{{t.client_title}}</h4>
                <p>                  
                    {{t.client_comment|safe}}                  
                </p>
              </div>
            </div><!-- End testimonial item -->
              
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Journal Section ======= -->
    <section id="blog" class="blog">
      <div class="container">
        <div class="section-title" data-aos="fade-in">
          <span>BLOG</span>
          <h2>BLOG</h2>
          <p>LATEST BLOG</p>
        </div>
        <div class="journal-block">
          <div class="row justify-content-center">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6">
              <div class="journal-info" data-aos="fade-up">

                <a href="{% url 'blog:blog-detail' slug=blog.slug%}"><img src="/media/{{blog.image}}" style="max-height: 200px; width: 100%;" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="{% url 'blog:blog-detail' slug=blog.slug%}">{{blog.title}}</a></h4>
                </div>

              </div>
            </div>
              
            {% endfor %}
          </div>
          <div class="text-center" data-aos="fade-up" data-aos-delay="100" >
            <a href="{% url 'blog:blog-list' %}" class="btn btn-outline-warning">All Blogs</a>

          </div>
        </div>
      </div>
    </section><!-- End Journal Section -->

  <!-- ======= Pricing Section ======= -->

  <!-- 
     <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title" data-aos="fade-in">
        <span>Pricing</span>
        <h2>Pricing</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="box" data-aos="fade-up">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="fade-up" data-aos-delay="100">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="100">
            <span class="advanced">Advanced</span>
            <h3>Ultimate</h3>
            <h4><sup>$</sup>49<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
   -->
 <!-- End Pricing Section -->

  <!-- ======= Contact Me Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-in">
        <span>Contact Me</span>
        <h2>Contact Me</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row">

        <div class="col-lg-6 mb-2">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box"  data-aos="fade-up">
                <i class="bx bx-share-alt"></i>
                <h3>Social Profiles</h3>
                <div class="social-links">
                  <a href="{{contact.facebook_url}}" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="{{contact.twitter_url}}" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="{{contact.instagram_url}}" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="{{contact.linkdin_url}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-envelope"></i>
                <h3>Email Me</h3>
                <p><b>{{contact.Email}}</b></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-phone-call"></i>
                <h3>Call Me</h3>
                <p><b>{{contact.phone}}</b></p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mb-2">

          <form action="" method="POST" role="form" class="shadow-lg p-3 mb-5 bg-body rounded" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                {{forms.name}}
              </div>
              <div class="col-md-6  mt-3 mt-md-0">
                {{forms.email}}
              </div>
            </div>
            <div class="mt-3">
              {{forms.subject}}
            </div>
            <div class="my-3" >
              {{forms.message}}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-warning">Send Message</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Me Section -->

</main><!-- End #main -->

  
{% endblock body_block %}

