{% extends "inner_base.html" %}
{% load static %}
{% block page_name %}
  <a href="{% url 'portfolio:portfolio-list' %}">Portfolios</a>
{% endblock page_name %}

{% block inner_body %}

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center" data-aos="fade-in">
          <h2>{{portfolio.project_name}}</h2>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">

    <div class="container">
     <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper-container" data-aos="fade-up">
            <div class="swiper-wrapper align-items-center" >

              <div class="swiper-slide">
                <img src="/media/{{portfolio.project_image}}" style="max-height: 500px; width: 100%;" alt="">
              </div>

            </div>
            <!-- <div class="swiper-pagination"></div> -->
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="100">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category : </strong>{{portfolio.category}}</li>
              <li><strong>Project Name : </strong>{{portfolio.project_name}}</li>
              {% if portfolio.project_date %}
              <li><strong>Project date : </strong>{{portfolio.project_date|date}}</li>
              {% endif %}
              {% if portfolio.project_url %}
              <li><strong>Project URL : </strong> <a href="{{portfolio.project_url}}">{{portfolio.project_url}}</a></li>
              {% endif %}     
            </ul>
          </div>
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="150">
            <h2>Project Details</h2>
            <p>
              {{portfolio.project_details|safe}}
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->


{% endblock inner_body %}

