{% extends "inner_base.html" %}
{% load static %}

{% block page_name %}
  Portfolios
{% endblock page_name %}


{% block inner_body %}

  <!-- ======= My Portfolio Section ======= -->
  <section id="portfolio"  class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="fade-in">
        <span>My Portfolio</span>
        <h2>My Portfolio</h2>
        <p>ALL PROJECTS</p>
      </div>

      {% if portfolio_cat %}
      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up">
        <li data-filter="*" class="filter-active">All</li>
        {% for category in portfolio_cat %}
        <li data-filter=".filter-{{category}}">{{category}}</li>
        {% endfor %}
        <!-- <li data-filter=".filter-app">App</li>
        
        <li data-filter=".filter-web">Web</li> -->
      </ul>
        
      {% endif %}

      
      {% if portfolio %}
      <div class="row portfolio-container" data-aos="fade-up">

        {% for p in portfolio %}

        <div class="col-lg-4 col-md-6 portfolio-item filter-{{p.category}}">
          <div class="portfolio-img"><img src="/media/{{p.project_image}}" class="img-fluid" style="width: 100%;" alt=""></div>
          <div class="portfolio-info">
            <h4>{{p.project_name}}</h4>
            <p>{{p.project_name}}</p>
            <a href="/media/{{p.project_image}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{p.project_name}}"><i class="bx bx-plus"></i></a>
            <a href="{% url 'portfolio:portfolio-detail' pk=p.id %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
          
        {% endfor %}

      </div>
        
      {% endif %}



      {% if is_paginated %}
      <div class="p-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ blog.previous_page_number }}" tabindex="-1">Previous</a>
                  </li>
                  {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="?page={{ blog.previous_page_number }}" tabindex="-1">Previous</a>
              </li>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ blog.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
          </nav>

      </div>
      {% endif %}

    </div>
  </section><!-- End My Portfolio Section -->
  
{% endblock inner_body %}